node_modules
dist
client/dist
.git
.gitignore
.gitattributes
README.md
DOCKERFILE
.dockerignore
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
*.sqlite
*.sqlite-journal
coverage
*.tsbuildinfo